<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{/css/main.css}" />
    <link rel="stylesheet"  th:href="@{/css/product.css}" />
    <link rel="stylesheet"  th:href="@{/css/forms.css}" />
    <title>Admin - Products</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <main>
        <div class="grid" th:if="${products.size() > 0}">
            <article class="card product-item" th:each="product: ${products}">
                <header class="card__header">
                    <h1 class="product__title" th:text="${product.title}"></h1>
                </header>
                <div class="card__image">
                    <img th:src="${product.imageUrl}" th:alt="${product.title}">
                </div>
                <div class="card__content">
                    <h2 class="product__price" th:text="'R$ ' + ${product.price}"></h2>
                    <p class="product__description" th:text="${product.description}"></p>
                </div>
                <div class="card__actions">
                    <a th:href="@{/admin/edit-product(id=${product.id}, editMode=${true})}" class="btn">Edit</a>
                    <form th:action="@{/admin/delete-product}" method="post">
                        <button class="btn" type="submit">Delete</button>
                        <input type="hidden" name="productId" th:value="${product.id}">
                    </form>
                </div>

            </article>
        </div>
        <h1 th:unless="${products.size() > 0}">No Products Found!</h1>
    </main>
</body>
</html>